.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      li > a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &:hover {
      filter: opacity(0.4);
    }
  }
  p {
    font-size: 14px;
  }
}
