.pcHeader {
  padding: 0 60px;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader {
      background-color: #fff;
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        img {
          width: 140px;
          display: block;
          &:hover {
            filter: opacity(0.4);
          }
        }
      }
      .searchBox {
        margin-left: auto;
        width: 100%;
        display: flex;
        &__form {
          width: 100%;
          display: flex;
          height: 36px;
          margin-bottom: 5px;
          &__input {
            width: 100%;
            padding: 0 0 0 5px;
          }
        }
        button{
          width: 36px;
          border: 0;
          cursor: pointer;
          padding: 8px;
          background-color: #3CCACE;
          border-radius: 50%;
          margin-left: 5px;
          &:hover {
            filter: opacity(0.4);
          }
        }
      }
      .detailedSearch {
        width: 70px;
        border: 0;
        cursor: pointer;
        padding:3px 3px 2px 3px;
        background-color: #3CCACE;
        border-radius: 20px;
        margin:0px 0px 5px 10px;
        &:hover {
          filter: opacity(0.4);
        }
        > a {
          color: white;
          padding-left: 1px;
          font-size: 13px;
        }
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      margin-top: -4px;
      .listsLeft {
        position: relative;
        display: flex;
        a {
          color: #333;
          background-color: #fff;
          text-decoration: none;
          line-height: 36px;
          padding-right: 30px;
          background-size: 18px;
          &:hover {
            color: #ffd340;
          }
        }
        &__category {
          &:hover {
            ul.listsLeft__category__parents {
              li {
                a {
                  display: block;
                  height: 40px;
                  width: 240px;
                  padding: 0px 8px 0px 5px;
                  border-bottom: 1px solid #f8f8f8; 
                  &:hover {
                    color: #ffd340;
                  }
                }
              }
            }
          }
          ul.listsLeft__category__parents {
            z-index: 2;
            position: absolute;
            top: 40px;
            li {
              display: flex;
              flex-direction: column;
              position: relative;
              &:hover {
                ul.listsLeft__category__children {
                  li {
                    a {
                      display: block;
                      height: 40px;
                      width: 240px;
                      &:hover {
                        color: #ffd340;
                      }
                    }
                  }
                }
              }
              a {
                height: 0;
                display: none;
                &:hover {
                  color: #ffd340;  
                 } 
              }
              ul.listsLeft__category__children {
                position: absolute;
                top: 0px;
                left: 240px;
                li {
                  &:hover {
                    ul.listsLeft__category__grandchildren {
                      li {
                        a {
                          display: block;
                          height: 40px;
                          width: 240px;
                          &:hover {
                            color: #ffd340;
                          }
                        }
                      }
                    }
                  }
                  a {
                    height: 0;
                    display: none;
                    &:hover {
                      color: #ffd340;  
                     } 
                  }
                  ul.listsLeft__category__grandchildren {
                    position: absolute;
                    top: 0px;
                    left: 240px;
                    li {
                      a {
                        height: 0;
                        display: none;
                        &:hover {
                          color: #ffd340;  
                         } 
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &__bland {
          padding: 0 0 0 16px;
        }
      }
      .listsRight{
        margin-left: auto;
        display: flex;
        height: 2rem;
        justify-items: right;
        .listsRight-mypage {
          color: #333;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #3CCACE;
            text-decoration: none;
            line-height: 40px;
            font-size: 20px;
            &:hover {
              color: #ffd340;  
             } 
          }
        }
        .listsRight-logout, .listsRight-login, .listsRight-reg {
          color: #333;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 40px;
            &:hover {
              color: #ffd340;  
             } 
          }
        }
      }
    }
  }
}