.SellBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &:hover {
    transform: translateY(1px) translateX(1px),
  }
  .SellBtn__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .SellBtn__icon {
    width: 60%;
  }
}

