.pay {
  max-width: 1000px;
  margin:50px auto;
  .main_contents {
    .main_details {
      text-align:center;
      font-size: 30px;
      &__message {
        padding-left: 35px; 
      }
    }
      .purchased__links {
        display: flex;
        justify-content: center;
        margin: 50px;
        a {
          border-style: none;
          background-color: #3ccace;
          color: white;
          font-size: 20px;
          border-radius: 40px;
          padding: 20px 80px 20px 80px;
          margin: 0px 10px;
        }
    }
  }
}