// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ItemNew__Box {
  width: 100vw;
  background-color: rgb(245, 245, 245);

  .ItemNew__Header {
    width: 100vw;
    height: 100px;
    background-color: rgb(245, 245, 245);
    position: relative;
  }
  .Logo-Box {
      box-sizing: border-box;
      height: 128px;
      align-items: center;
      display: flex;
      justify-content: center;
  }

    a {
      display: block;
      height: 46px;
      width: 120px;
    }

    img {
      padding-left: 0;
      padding-top: 0;
    }
    .preview-image {
      width: 120px;
    }

    .ItemNew-Maim {
    width: 600px;
    margin: 0px auto;
    }
  .ItemNew-Center {
      width: 600px;
      padding: 10px 30px 50px 30px;
      background-color: white;

    .ItemEntry {
      padding-top: 30px;
      &__require {
        background-color: red;
        color: white;
      }
      &__option {
        background-color: gray;
        color: white;
      }
    }

    span {
      background-color: red;
      color: white;
    }

    .ItemEntry-price {
      padding-top: 10px;
    }

    .p {
      padding-top: 20px;
      color: gray;
    }
  }
  .ItemNew-Img {
    width: 600px;
    min-height: 10px;
    .image-box {
      padding-right: 10px;
      height: 240px;
    }
  }
  .ItemNew-Select {
  width: 600px;
  height: 50px;
  background-color: rgb(245, 245, 245);
  padding-top: 5px;
    .sellBtn2 {
      height: 24px;
      width: 24px;
      padding-left: 270px;
      padding-top: 10px;
      .fa-fa-camera {
        color: black;
      }
    }
  } 
}
.item-image__js-remove {
  display: block;
  text-align: center;
  width: 120px;
}

.item-image__js-edit {

  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial

}

.item-image__js-edit {
  width: 120px;
}
  .js-file {
    display: none;
  }
  #previews {
    display: flex;
  }
  #file-fields {
    display: none;
  }
  .ItemNew-name {
    width: 600px;
    height: 30px;
  }
  .ItemNew-introduction {
    width: 600px;
    height: 140px;
  }
  .ItemNew-category {
    width: 600px;
    height: 40px;
  }
  .ItemNew-Brand {
    width: 600px;
    height: 30px;
  }
  select{
    width: 600px;
    height: 40px;
  }
  .ItemNew-price {
    width: 580px;
    height: 43px;
    text-align: right;
    font-size: 20px;
  }
  .Submit-btn {
    width: 300px;
    height: 40px;
    color: white;
    background-color: #3ccace;
    line-height: 20px;
    margin: 50px 150px 0;
  }
  .Return-btn {
    margin-top: 15px;
    margin-left: 110px;
    text-align: center;
    color: black;
  }
