.btn_sign_up{
  width: 341px;
  height: 48px;
  background-color: #2199e8;
  text-align: center;
  line-height: 48px;
  margin-bottom: 16px;
}

.sign_up{
text-decoration: none;
color: #ffffff;
}

.btn_forget_password{
  padding-bottom: 15px;
}

.forget_password{
color: black;
}