body{
  background-color: #f8f8f8;
}

img{
  padding-left: 610px;
  padding-top: 10px;
}

._form{
  width: 500px;
  margin-left: 410px;
  padding-left: 220px;
  border: solid 1px;
  background-color: #ffffff;
}

.field{
  padding-top: 26px;
}

.form-group__require{
  font-size: 8px;
  color: #ffffff;
  background-color: #ea352d;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  vertical-align: top;
}

.user__main__form__contents__submit__btn{
  font-size: 16px;
  width: 341px;
  height: 48px;
  margin: 0 auto;
  background-color: #3CCACE;
  color: #ffffff;
  text-align: center;
  line-height: 48px;
  border: none;
}

.actions{
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-group__input{
  width: 300px;
  height: 28px;
}

